@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif !important;
}

body{
    background-color: #FAFAFF;
}

/* 273469 */

input{
    border-radius: 20px !important;
    border: 1px solid rgba(128, 128, 128, 0.521) !important;
    height: 40px !important;
}

input:focus, .ant-picker{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

.spinner-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(228, 217, 255, 0.74);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #273469;
    z-index: 9999;
}

.spinner-grow{
    width: 4rem;
    height: 4rem;
}

label{
    font-size: 16px !important;
    color: black !important;
}

.ant-form-item{
    margin: 10px 0 !important;
}

.primary-button{
    background-color: #E4D9FF !important;
    border-color: #E4D9FF !important;
    height: 40px !important;
    width: 100%;
    color: #273469 !important;
    font-size: 16px !important;
}

.primary-button:hover{
    opacity: 0.8 !important;
}

.ant-picker-input input{
    border: none !important;
}

.ant-picker{
    height: 40px !important;
    border-radius: 20px !important;
    border: 1px solid rgba(128, 128, 128, 0.521) !important;
    height: 40px !important;
}

.page-title{
    font-size: 25px;
    color: #273469;
    font-weight: bold;
}

.anchor{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: #273469;
    margin: 5px 0 !important;
    padding-top: 0 !important;
}

.anchor:hover{
    text-decoration: underline;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.normal-text{
    font-size: 1rem;
}

.card{
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    border-radius: 10px !important;
    
}

/* Authentication Pages */
.authentication{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../public/assets/registerBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.authentication-form{
    width: 400px;
}

.authentication .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #273469;
    color: #FAFAFF;
    max-width: max-content;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;

}