.main{
    padding: 20px;
    height: 100vh;
}

.sidebar{
    background-color: #E4D9FF;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    padding: 10px;
    max-width: 350px;
    min-height: 100%;
    transition: max-width 0.5s;
}

.fontColor{
    color: #FAFAFF !important;
}

.collapsed-sidebar{
    background-color: #E4D9FF;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    padding: 10px;
    min-height: 100%;
    max-width: 78px;
    transition: max-width 0.5s;
}

.content{
    width: 100%;
    height: 100%;
}

.header{
    background-color: #273469;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body::-webkit-scrollbar {
    display: none;
}


.body{
    background-color:#FAFAFF;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 82vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 15px;
}

.menu{
    margin-top: 100px;
}

.menu-item{
    margin-top: 30px;
    margin-right: 0;
    padding: 0;
}

.role{
    color:#273469;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-left: 7px;
}

.ant-badge-count{
    min-width: 15px !important;
    height: 15px !important;
    line-height: 15px !important;
    background-color: #E4D9FF !important;
    color: #273469 !important;
}

.ant-badge{
    width: 35px !important;
}

.menu-item a{
    color: #273469;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}

.menu-item i{
    color: #273469;
    text-decoration: none;
    margin-right: 0;
    font-size: 18px;
    margin: 0 15px !important;
}

.active-menu-item{
    background-color:#FAFAFF;
    padding: 5px;
    border-radius: 5px;
}

.sidebar-header{
    max-width: 90%;
    height: 100px;
    transition: max-width 0.5s;
}

.sidebar-header img{
    max-width: 100%;
    transition: max-width 0.5s;
}

.header-icon{
    font-size: 20px;
    color: #E4D9FF;
    cursor: pointer;
    padding-left: 10px;
}


